<%
  require 'rexml/rexml'
  require 'rexml/document'
  if !@snapshot.nil? && @snapshot.measure('toxicity_chart_status')
    metric_ref = metric('toxicity_chart_status')
    measure_ref = measure('toxicity_chart_status')
    threshold = BigDecimal.new(configuration('threshold', "1"))
%>
<script language="javascript">
  function toggle(index) {
    var name = document.getElementById("toggleName_" + index);
    var cost = document.getElementById("toggleCost_" + index);
    if(name.style.display == "block") {
      name.style.display = "none";
      cost.style.display = "none";
    } else {
      name.style.display = "block";
      cost.style.display = "block";
    }
  }
</script>
<style>
  .rectangle{width:10px;height:10px;border:1px solid #DDD;float:left;margin-top:2px;margin-left:5px;margin-right:5px}
  .legend{width:100%}
</style>
<div style="margin:0 auto;width:100%;display:block;">
  <div class="dashbox">
  <div>
    <%=chart('ck=toxicitychart&w=550&h=410&v=' + measure_ref.id.to_s) %>
  </div>

  <table class="data legend" summary="Toxicty Chart Legend">
    <thead>
      <tr>
        <th>No</th>
        <th>Name</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <%
        doc = REXML::Document.new(measure_ref.data.to_s);
        index = 1;
        doc.elements.each("toxicity/source") { |source|
        if BigDecimal.new(source.attributes["total"]) < threshold then
          break
        end
        rowClass = ((index % 2) == 0) ? "even" : "odd";
        debtsName = "toggleName_" + index.to_s
        debtsCost = "toggleCost_" + index.to_s
      %>
      <tr class=<%=rowClass %>>
        <td>
          <%= index %>
        </td>
        <td>
          <a id="sourceName" href="javascript:toggle(<%= index %>);"><%= source.attributes["name"].partition(':').last %></a>
          <div id=<%= debtsName %> style="display: none">
              <% source.elements.each("debt") { |debt| %>
                <div>
                  <div class="rectangle" style='background-color:<%= debt.attributes["color"] %>'></div>
                  <div style="float:left">
                    <%= debt.attributes["key"] %>
                  </div>
                </div>
                <div class="clear" ></div>
              <% } %>
          </div>
        </td>
        <td>
          <b><%= source.attributes["total"] %></b>
          <div id=<%= debtsCost %> style="display: none">
            <ul>
              <% source.elements.each("debt") { |debt| %>
                <div>
                  <%= debt.attributes["cost"] %>
                </div>
              <% } %>
            </ul>
          </div>
        </td>
      </tr>
      <%
        index += 1
        }
      %>
    </tbody>
  </table>
 </div>
</div>
<%
  end
%>
